.game-container{
    width: 600px;
    height: 730px;   
    position: absolute;
}

.sky{
    background-color: aqua;
    width: 600px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 600px;
    height: 150px;
    top: 530px;
    position: absolute;
}

.bird{
    background-color: yellow;
    width: 60px;
    height: 45px;
    position: absolute;
}

.obstacle{
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}